<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Result</title>
</head>
<body>
  <h2>Result</h2>
  <p>Percentage: <%= percentage %>%</p>
  <p><%= diagnosis %></p>
  <a href="/">Back to test</a>
</body>
</html>
